<!--The content below is only a placeholder and can be replaced.-->
<div class="stopwatch-timer">
  <div class="stopwatch-button"></div>
  <div class="stopwatch-stop"></div>
  <div class="stopwatch">
    <div *ngIf="counter !== 0; else fullcircle">
      <svg width="50" height="50" viewbox="0 0 50 50">
        <path
          id="loader"
          transform="translate(25, 25)"
          [attr.d]="animAttribute"
        />
      </svg>
    </div>
    <ng-template #fullcircle>
      <svg width="50" height="50" viewbox="0 0 50 50">
        <circle cx="25" cy="25" r="25" />
      </svg>
    </ng-template>
  </div>
  <div class="timer">
    <p *ngIf="counter > 59; else seconds">
      {{ counter * 1000 | date:'mm:ss' }}
    </p>
    <ng-template #seconds>
      <p>
        {{ counter * 1000 | date:'ss' }} sec
      </p>
    </ng-template>
  </div>
</div>
